.logo {
  width: 94px;
}
.main-logo {
  display: none;
}
.contact-logo {
  display: inline-block;
  width: 94px;
  margin-bottom: 20px;
}

@include breakpoint-down (900) {
  .logo {
    width: 60px;
  }
}
@include breakpoint-down (800) {
  .main-logo {
    width: 60px;
    display: block;
  }
  .contact-logo {
    width: 60px;
  }
}