

.navbar__list {
  display: grid;
  grid-template-columns: repeat(5, 94px);
  column-gap: 60px;
  justify-content: center;
  align-items: center;
}
.navbar__item {
  justify-self: center;
}
.navbar__link {
  display: inline-block;
  color: #4D4959;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}
.menu-burger {
  display: none;
}
@include breakpoint-down (800) {
  .navbar__list {
    display: none;
  }
  .header--open {
    position: relative;
  }
  .header--open .navbar__list {
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    padding: 75px 100px;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.9);
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    row-gap: 30px;
    justify-content: center;
  }
  .header--open .navbar__item:nth-child(3) {
    display: none;
  }
  .header--open .menu-burger {
    background-image: url("../img/gamburger-close.svg");
  }
  .header__nav {
    display: grid;
    padding: 0 20px;
    grid-template-columns: 1fr 1fr;
}
  .navbar__list {
    grid-template-columns: 1fr;
    column-gap: 0;
    justify-content: start;
  }
  .navbar__item {
  justify-self: start;
  }
  .menu-burger {
    display: block;
    justify-self: end;
    align-self: center;
    padding: 18px;
    position: relative;
    z-index: 12;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-image: url("../img/gamburger.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }
}